@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    /* Pure black */
    --foreground: 0 0% 100%;
    --font-mono: "Courier New", monospace;
  }

  body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Courier New", monospace;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px #ef4444, 0 0 20px #ef4444, 0 0 30px #dc2626;
  }

  .border-glow {
    box-shadow: 0 0 10px #dc2626, 0 0 20px #dc2626;
  }

  .glitch-effect {
    position: relative;
  }

  .glitch-effect::before,
  .glitch-effect::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .glitch-effect::before {
    left: 2px;
    text-shadow: -2px 0 #ff0000;
    clip: rect(24px, 550px, 90px, 0);
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
  }

  .glitch-effect::after {
    left: -2px;
    text-shadow: -2px 0 #00ffff;
    clip: rect(85px, 550px, 140px, 0);
    animation: glitch-anim 2.5s infinite linear alternate-reverse;
  }
}

@keyframes glitch-anim {
  0% {
    clip: rect(61px, 9999px, 90px, 0);
  }

  20% {
    clip: rect(94px, 9999px, 36px, 0);
  }

  40% {
    clip: rect(42px, 9999px, 65px, 0);
  }

  60% {
    clip: rect(10px, 9999px, 105px, 0);
  }

  80% {
    clip: rect(73px, 9999px, 8px, 0);
  }

  100% {
    clip: rect(31px, 9999px, 117px, 0);
  }
}

@keyframes glitch-anim-2 {
  0% {
    clip: rect(129px, 9999px, 36px, 0);
  }

  20% {
    clip: rect(14px, 9999px, 105px, 0);
  }

  40% {
    clip: rect(87px, 9999px, 66px, 0);
  }

  60% {
    clip: rect(42px, 9999px, 144px, 0);
  }

  80% {
    clip: rect(18px, 9999px, 99px, 0);
  }

  100% {
    clip: rect(53px, 9999px, 27px, 0);
  }
}